<h2>
    {{pageTitle}}
</h2>
<div class="card" *ngIf="animal">
    <h3>Detailed information</h3>
    <img class="card-img-top" src="../../../../assets/animals-images/{{animal.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Animal name: <span>{{animal.name}}</span></h5>
        <h5 class="card-title">Animal price: <span>{{animal.price}} euro</span></h5>
        <p class="card-text">Animal type: <span>{{animal.type}}</span></p>
        <p class="card-text">Animal age: <span>{{animal.age}}</span></p>
        <p class="card-text">Animal color: <span>{{animal.color}}</span></p>
        <p class="card-text">Animal reactions: <span>{{animal.reactions | json}}</span></p>
        <p class="card-text">Animal likes: <span>{{animal.reactions.like}}</span></p>
        <p class="card-text">Animal love: <span>{{animal.reactions.love}}</span></p>
        <p class="card-text"><small class="text-muted">Animal id: <span>{{animal.id}}</span></small></p>
        <button class="btn btn-outline-info mr-3" (click)="addReaction()">add comment</button>
        <button class="btn btn-outline-info" (click)="addReaction()">add reactionst</button>
        <br>
        <div class='blockquote'>
            <app-add-reactions *ngIf="isReactionAdded"></app-add-reactions>
        </div>

    </div>
</div>