<div class="container-fluid">
    <div>
        <h2>This is our animal page. Enjoy our site!</h2>
    </div>
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="../assets/images/1.jpg" alt="Random first slide">
            <div class="carousel-caption">
                <h3>Animals in the mountain</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../assets/images/2.jpg" alt="Random second slide">
            <div class="carousel-caption">
                <h3>Animals in the forest</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../assets/images/3.jpg" alt="Random third slide">
            <div class="carousel-caption">
                <h3>Animals in lakes</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>